<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="module">
        import 'https://unpkg.com/@google/model-viewer/dist/model-viewer.js';
    </script>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ '/assets/image/logo.png' | relative_url }}" alt="AURALIS Logo" style="width: 150px; height: auto; display: block; margin: 0 auto;">
        </div>
        <nav>
            <a href="{{ '/' | relative_url }}">Beranda</a>
            <a href="{{ '/documentation/' | relative_url }}">Proposal Project</a>
            <a href="{{ '/contact/' | relative_url }}">Kontak</a>
        </nav>
    </header>
    <div class="container">
        {{ content }}
    </div>
    <footer>
        <p>Copyright © {{ site.year }} AURALIS</p>
    </footer>
</body>
</html>


